.projects
  padding: 8rem 0
  &__title
    margin-bottom: 2rem
    font: normal 700 3.6rem "WorkSans"
    text-transform: uppercase
  &__link
    font: normal 400 1.6rem "WorkSans"
    color: $color-light

